[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = ../../TheUnicum/glfw
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = ../../TheUnicum/imgui
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = ../../g-truc/glm
