[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = ../../gabime/spdlog.git
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = ../../TheUnicum/glfw
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = ../../TheUnicum/imgui
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = ../../g-truc/glm
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = https://github.com/TheUnicum/yaml-cpp.git
[submodule "Hazel/vendor/ImGuizmo"]
	path = Hazel/vendor/ImGuizmo
	url = https://github.com/TheUnicum/ImGuizmo.git
